<tr>
  <td><%= participant.name %></td>
  <td>
    <%= link_to "Remove player", game_invite_path(@game, user_id: participant.id), method: :delete, 
      class: 'pull-right', id: "remove-invite-#{participant.id}" %>
  </td>
</tr>
