<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h3>Waiting for other players</h3>
    </div>
    <p>We're waiting for other players to accept their invite. Please check back later!</p>
    <p><%= link_to "Check out your other games in the meantime", root_path %></p>
  </div>
</div>
