<div class="row">
  <div class="page-header">
    <h3>Waiting for the storyteller</h3>
  </div>
    <p>We must wait for the storyteller to choose its first picture, and write the story fragment.</p>
</div>
