<%= render_flash(:success)  %>
<%= render_flash(:error)  %>
<%= link_to "Start new game", new_game_path %>
<div class="games">
  <div class="running-games">
    <h1>Your stories in progress</h1>
    <%= render partial: "games/story", collection: @running_games, as: :game %>
  </div>
</div>
