<%= page_header "Reset your password" %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div id="clearance" class="password-reset">
      <p><%= t '.description' %></p>
    </div>
  </div>
</div>
