<h1>Your game invite</h1>

<p>You got an invite for a game of Dixit: <b><%= @game.title %></b></p>
<p>Description for the game:<br><%= @game.description %></p>

<p>You can <%= link_to 'Accept', '#' %>, or <%= link_to 'Deny', '#' %> this invite.</p>
