/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 */
@import "variables";
@import "bootstrap";
@import "bootswatch";

.user-button {
  @extend .btn-group;
  @extend .pull-right;
  margin-top: -40px;
}

.games {
  @extend .row;
  .running-games {
    @extend .col-md-6;
  }
}

.story {
  .thumbnail {
    @extend .img-circle;
    @extend .img-thumbnail;
  }
  .status-bar {
    @extend .row;
    @extend .bg-warning;
    margin-top: 20px;
    padding: 10px;
    span {
      line-height: 33px;
      color: #fff;
    }
  }
}
